/RobotCtrl/bin/*
/RobotIO/bin/*
/RobotView/bin/*
/TestConsole/bin/*
/TestMotor/bin/*
/TestDrive/bin/*
/Testat/bin/*
/Testat2/bin/*
/BluetoothClient/bin/*
/BluetoothServer/bin/*
/RobotCtrl/obj/*
/RobotIO/obj/*
/RobotView/obj/*
/TestConsole/obj/*
/TestMotor/obj/*
/TestDrive/obj/*
/Testat/obj/*
/Testat2/obj/*
/BluetoothClient/obj/*
/BluetoothServer/obj/*
/Robot.suo